<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bank Report</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2 style="text-align: center">PDF Generator</h2>
        {% include 'includes/_flashmsg.html' %}
        <form action="/bank-report" method="POST">
            <div class="form-group">
            <label for="report-url">Report Url:</label>
            <input type="text" class="form-control" id="report-url" placeholder="Enter report url" name="report-url">
            </div>
            <button type="submit" class="btn btn-primary">PDF</button>
        </form>
        </div>
</body>
</html>