<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="pdfkit-page-size" content="Letter"/>
    <title>Blood</title>
    <style>
        body {
            font-size:12px;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    {% include 'includes/_flashmsg.html' %}
    {% if all_employee.data %}
        <h3>Here is {{ blood_name }} employee list: </h3>
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
            {% for item in all_employee.data %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.contact_no }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.contact_no }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.contact_no }}</td>
            </tr>
            {% endfor %}

        </table>
        <p>Thanks!</p>
    {% else %}
        <h3>No employee found</h3>
    {% endif %}
</body>
</html>